table,td,th {
    border: solid black thin;
    border-collapse: collapse;
}

.hidden {
    opacity: 0.0;
}

.edit-name {
    border: 0;
}

td input.edit-name {
    box-sizing: border-box;
    border: 0;
    width: 100%;
    white-space: pre;
    display: block;
    resize: horizontal;
}
td input.edit-name:active {
    width:auto;
}

td.edit-name, .input-sizer {
    font-family: sans-serif;
}

.input-sizer {
    visibility: hidden;
    display:block;
    white-space: pre;
    height: 0;
}

/*.input-container {*/
/*    display: inline-block;*/
/*    position: relative;*/
/*}*/

.error {
    color: crimson;
    display:block;
}

.h1 {
    display: block;
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
}

td select {
    border:none;
    appearance: none;
    background: none;
}